/* Drapeau de l'Ukraine */
.ukraine .bande {
  height: 50%;
}
.ukraine .bleu {
  background: #005bbb;
}
.ukraine .jaune {
  background: #ffd500;
}

/* --------------------*/

/* Drapeau de l'Italie */
.italie {
  display: flex;
}
.italie .bande {
  width: calc(100% / 3);
}
.italie .vert {
  background: #009432;
}
.italie .rouge {
  background: #EA2027;
}
/* --------------------*/


/* Drapeau du Vietnam */
.vietnam {
}
/* --------------------*/

/* Drapeau du Bénin */
.benin {
}
/* --------------------*/

/* Drapeau de la Lettonie */
.lettonie {

}

/* --------------------*/

/* Drapeau du  Pérou */
.perou {
}

/* --------------------*/

/* Drapeau du Sénégal */
.senegal {
}

/* --------------------*/

/* Drapeau du Costa Rica */

.costa_rica {
}
/* --------------------*/


/* Drapeau du Suriname */
.suriname {
}

/* --------------------*/

/* Drapeau du Chili */
.chili {
}
/* --------------------*/

/* Drapeau du Togo */

.togo {
}
/* --------------------*/

/* Drapeau de la Grèce */ 

.grece {
}

/* ------------------*/